<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.buaa.buaaers"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="10" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.buaa.buaaers.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.buaa.buaaers.college.CollegeActivity"></activity>
        <activity android:name="com.buaa.buaaers.college.CollegeNewsActivity"></activity>
        <activity android:name="com.buaa.buaaers.me.MeActivity"></activity>
    </application>

</manifest>